/* Variables */
:root {
    --primary-color: #FFFFFF;
    --secondry-color: #000000;
    --font-size: 16px;
}

/* Master Grid  */
.container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 2fr auto 1fr;
    grid-gap: 1em;
    grid-template-areas:
        ". top ."
        ". content ."
        ". bottom .";
}

/* Content Sections: TOP, CONTENT, BOTTOM  */
header {
    grid-area: top;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

main {
    grid-area: content;
}

footer {
    grid-area: bottom;
}

/* TOP - Content */
.banner {
    align-self: center;
    justify-self: center;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    list-style-position: outside;
}

.menu ul li a {
    text-decoration: none;
}



.who-am-i {

}

.work-done {

}

.contacts {

}


