/**
 * Fonts Family
 */
@font-face {
    font-family: 'middlecaseblack_solid';
    src: url('/styles/fonts/midcase_blacksolid-webfont.woff2') format('woff2'),
    url('/styles/fonts/midcase_blacksolid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300-Regular';
    src: url('/styles/fonts/Museo300-Regular-webfont.woff2') format('woff2'),
    url('/styles/fonts/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500-Regular';
    src: url('/styles/fonts/Museo500-Regular-webfont.woff2') format('woff2'),
    url('/styles/fonts/Museo500-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700-Regular';
    src: url('/styles/fonts/Museo700-Regular-webfont.woff2') format('woff2'),
    url('/styles/fonts/Museo700-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --primary-color: #FFFFFF;
    --secondry-color: #000000;
    --font-size: 22px;
}

body {
    background-color: teal;
}

/* Master Grid  */
.container {
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-gap: 1em;
    grid-template-areas:
        ". top ."
        ". middle ."
        ". bottom .";
}

/* Content Sections: TOP, CONTENT, BOTTOM  */
header {
    grid-area: top;
    display: grid;
}

main {
    grid-area: middle;
    display: grid;
}

footer {
    grid-area: bottom;
    display: grid;
}

/* TOP - Content */
header > span.title {
    font-family: 'middlecaseblack_solid', sans-serif;
    color: white;
    font-size: 6rem;
    align-self: center;
    justify-self: center;
    padding: 0.3em 0 0.4em 0;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none outside none;
}

.menu ul li a {
    text-decoration: none;
    font-family: 'Museo700-Regular', sans-serif;
}

/* MIDDLE - Content */
main > section {
    margin: 70px 0;
}

main > section#what_we_do {
    width: 50%;
    justify-self: end;
}

.slide {
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slidein {
    from {
        margin-right: 0;
    }
    to {
        margin-right: 50%;
    }
}

main > section#who_we_are {
    width: 50%;
}

/* FOOTER - Content */
footer > div.copyright {
    font-family: 'Museo300-Regular', sans-serif;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GENERAL */

h1 {
    font-family: 'Museo700-Regular', sans-serif;
}

h2 {
    font-family: 'Museo700-Regular', sans-serif;
}

p, label {
    font-family: 'Museo500-Regular', sans-serif;
}
